.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 1.5rem;
	margin: 2rem 0;

	@include tablet {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		gap: 1rem;
		margin: 1.5rem 0;
	}

	@include mobile {
		grid-template-columns: 1fr;
		gap: 1rem;
	}
}

.skeleton {
	height: 24rem;
}
