$base-color: #ebebeb;

.skeleton {
	height: 2.5rem;

	background-image: linear-gradient(90deg, $base-color, $bg-color, $base-color);
	border-radius: 0.125rem;

	animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}
}
