.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;

	.formContainer {
		width: 100%;
		max-width: 400px;
		padding: 2.5rem;

		background: $white;
		border-radius: $border-radius-lg;
		box-shadow: $box-shadow-lg;

		@include mobile {
			margin: 1rem;
			padding: 2rem 1.5rem;
		}

		.submitButton {
			margin: 0 auto;

			&::first-letter {
				text-transform: uppercase;
			}
		}
	}
}
