$global-font-size: 16px;
$text-primary: #42567a;
$text-secondary: #3877ee;
$text-accent: #ef5da8;
$bg-primary: #f4f5f9;
$bg-secondary: rgb(66 86 122);
$bg-accent: #fff;
$border-width: 1px;
$border-line: $border-width solid rgba($bg-secondary, 0.1);
$layout-padding-top: 88px;
$layout-padding-inline-desktop: 80px;
$layout-padding-inline-mobile: 20px;
