.footer {
	margin-top: auto;
	padding: 1rem 0;

	color: var(--white);

	background: var(--dark-color);
}

.footerContent {
	text-align: center;
}

.footerText {
	margin: 0;

	font-size: 0.9rem;

	opacity: 0.8;

	@media (width <= 576px) {
		font-size: 0.8rem;
	}
}

.userEmail {
	color: var(--info-color);
	font-weight: 500;
}
