.footer {
	margin-top: auto;
	padding: 1rem 0;

	color: var(--white);

	background: var(--dark-color);

	.footerContent {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.skeleton {
	width: 16rem;
	height: 1.5rem;

	background-color: #fff;
}
