.header {
	padding: 1rem 0;

	background: $white;
	border-bottom: 1px solid $gray-200;
	box-shadow: $box-shadow-sm;
}

.headerContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 3rem;
}

.logo {
	color: $simple-color;
	font-weight: 700;
	font-size: 1.5rem;
	text-decoration: none;

	transition: $transition;

	&:hover {
		opacity: 0.8;
	}
}
